@import 'styles/variables';

.container.styled {
  font-family: "Inter";
  font-size: 16px;
  height: 56px;
  width: 100%;
  letter-spacing: 1.25px;
  background: $main-100;

  span {
    color: $white;
  }
}
