@import 'styles/variables';

.container {
  span {
    font-weight: 600;
    font-size: 16px;
    color: $black-100;
  }

  .itemContainer {
    & > span {
      margin-bottom: 16px;
      display: block;
    }

    & > div:last-child > div:last-child {
      display: none;
    }

    & > div {
      margin-top: 25px;
    }
  }

  .numbers {
    p {
      font-weight: 500;
      font-size: 14px;
    }
    .list {
      display: flex;
      flex-direction: column;

      span {
        font-weight: normal;
        font-size: 14px;
        color: $black-80;
      }

      & > div {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-top: 5px;

        & > div {
          margin-right: 5px;
          background: $black-80;
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
      }
    }
  }

}
