@import 'styles/variables';

.history {
  margin-top: 100px;

  & > span {
    display: block;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 16px;
    color: $black-100;
  }

  & > div > div:last-child > div:last-child {
    display: none;
  }
}
